In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# k-means( clustering)
df = pd.read_csv('convinience_store.csv')
df

    No  弁当・麺類     飲料  おにぎり・サンドイッチ  スイーツ  カップスープ    サラダ
0    1  25350   3650         8945     0    4867   8945
1    2  24500      0            0  1827       0      0
2    3  23050   5750        11570     0    7667  11570
3    4  22850   4100        10145     0    5467  10145
4    5  22500      0            0     0       0      0
..  ..    ...    ...          ...   ...     ...    ...
65  66  25600   9725         2695   144    1621   1348
66  67  25400   5988            0   581     998      0
67  68  25100      0         3745  2911       0   1873
68  69  24700   8075            0  1451    1346      0
69  70  22700  11563         3270  1410    1927   1635

[70 rows x 7 columns]

In [4]:
x = df.drop('No', axis=1).values

In [5]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=3, random_state=0)
kmeans.fit(x)

KMeans(n_clusters=3, random_state=0)

In [7]:
# center position in each column
kmeans.cluster_centers_
# the above will show 6*3( columns * clusters)

array([[ 5043.5483871 ,  3486.41935484,  7017.74193548,  2206.        ,
         2512.90322581,  3509.12903226],
       [28681.25      ,  5637.66666667,  1298.75      ,  1271.        ,
         1770.875     ,   716.95833333],
       [17266.66666667,  2730.93333333, 10721.66666667,   590.86666667,
         3447.33333333,  9851.2       ]])

In [9]:
cluster = kmeans.predict(x)
cluster

array([2, 1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 2, 2, 0, 2, 2, 0,
       2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1])

In [11]:
df_cluster = df.copy()
df_cluster['cluster'] = cluster
df_cluster.head()

   No  弁当・麺類    飲料  おにぎり・サンドイッチ  スイーツ  カップスープ    サラダ  cluster
0   1  25350  3650         8945     0    4867   8945        2
1   2  24500     0            0  1827       0      0        1
2   3  23050  5750        11570     0    7667  11570        2
3   4  22850  4100        10145     0    5467  10145        2
4   5  22500     0            0     0       0      0        1

In [12]:
# In Unsupervised learning, the answer does not exist unlike supervised learning.
# So, humans need to consider how to utilize the outputs and what to utilize the outputs for.

In [13]:
# consideration with the mean of total amount in each cluster
# To process clustered data
df_results = pd.DataFrame()
df_cluster[df_cluster['cluster'] == 0].mean()

No               37.806452
弁当・麺類          5043.548387
飲料             3486.419355
おにぎり・サンドイッチ    7017.741935
スイーツ           2206.000000
カップスープ         2512.903226
サラダ            3509.129032
cluster           0.000000
dtype: float64

In [14]:
df_results['cluster 0'] = df_cluster[df_cluster['cluster'] == 0].mean().tolist()
df_results['cluster 1'] = df_cluster[df_cluster['cluster'] == 1].mean().tolist()
df_results['cluster 2'] = df_cluster[df_cluster['cluster'] == 2].mean().tolist()

In [15]:
df_results

     cluster 0     cluster 1     cluster 2
0    37.806452     46.250000     13.533333
1  5043.548387  28681.250000  17266.666667
2  3486.419355   5637.666667   2730.933333
3  7017.741935   1298.750000  10721.666667
4  2206.000000   1271.000000    590.866667
5  2512.903226   1770.875000   3447.333333
6  3509.129032    716.958333   9851.200000
7     0.000000      1.000000      2.000000

In [18]:
df_results = df_results.set_index(df_cluster.columns)
df_results

               cluster 0     cluster 1     cluster 2
No             37.806452     46.250000     13.533333
弁当・麺類        5043.548387  28681.250000  17266.666667
飲料           3486.419355   5637.666667   2730.933333
おにぎり・サンドイッチ  7017.741935   1298.750000  10721.666667
スイーツ         2206.000000   1271.000000    590.866667
カップスープ       2512.903226   1770.875000   3447.333333
サラダ          3509.129032    716.958333   9851.200000
cluster         0.000000      1.000000      2.000000

In [19]:
df_results = df_results.drop(['No', 'cluster']).T
df_results

,弁当・麺類,飲料,おにぎり・サンドイッチ,スイーツ,カップスープ,サラダ
cluster 0,5043.548387,3486.419355,7017.741935,2206.000000,2512.903226,3509.129032
cluster 1,28681.250000,5637.666667,1298.750000,1271.000000,1770.875000,716.958333
cluster 2,17266.666667,2730.933333,10721.666667,590.866667,3447.333333,9851.200000